DEPLOYER_ADDRESS_PRIVATE_KEY=<部署账号的私钥>
APPROVER_ADDRESS_PRIVATE_KEY=<同意账号的私钥>
EXECUTOR_ADDRESS_PRIVATE_KEY=<执行账号的私钥>
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
BSC_MAINNET_RPC_URL=https://bsc-dataseed.binance.org/
SAFE_ADDRESS_TESTNET=<你的测试网Safe合约地址>
SAFE_ADDRESS_MAINNET=<你的主网Safe合约地址>